<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
   PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >   
   
<mapper namespace="pms.dao.GanttDao">
	
	<resultMap type="task" id="taskMap">
		<result property="start" column="start1"/>
		<result property="end" column="end1"/>
	</resultMap>

	<select id="getTask" resultMap="taskMap" parameterType="pms_project">
		select * from project_task where project_no = #{project_no}
	</select>
	
	<select id="getName" resultType="String" parameterType="int">
		select name from pms_member where pno = #{pno}
	</select>
	
	<select id="getPnoUsingName" resultType="int" parameterType="String">
		select pno from pms_member where name = #{name}
	</select>
	
	<select id="getMaxPno" resultType="int">
		select max(pno) from pms_member
	</select>
	
	<select id="getProject" resultType="pms_project" parameterType="int">
		select * from pms_project where project_no = #{project_no}
	</select>
	
	<insert id="insertTask" parameterType="task">
		insert into project_task values(
			#{pno},#{project_no},task_no_seq.nextval,#{task_name},
			#{task_content}, #{task_priority},#{task_parent_no},
			#{startdte},#{enddte},#{task_status}
		)
	</insert>
	
	<update id="updateTask" parameterType="task">
		update project_task
			set
				pno = #{pno},
				task_name = #{task_name},
				task_content = #{task_content},
				task_priority = #{task_priority},
				task_parent_no = #{task_parent_no},
				startdte = #{startdte},
				enddte = #{enddte}
			where task_no = #{task_no}
	</update>

	<update id="uptProject" parameterType="pms_project">
		update pms_project
			set
				project_name = #{project_name},
				project_content = #{project_content},
				start1 = #{start1},
				end1 = #{end1}
			where project_no = #{project_no}
	</update>
	
	<delete id="deleteTask" parameterType="int">
		delete from project_task where task_no = #{task_no}
	</delete>
</mapper>  
 