<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
   PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >   
   
<mapper namespace="pms.dao.LoginDao">

	<select id="IsMem" resultType="member" parameterType="member">
		select * from pms_member where id = #{id}
							and pass = #{pass}
	</select>

</mapper>  
 