<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
   PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >   

<mapper namespace="pms.dao.LogDao">
<insert id="taskIns" parameterType="log">
INSERT INTO project_log VALUES(
#{pno},#{project_no},
sysdate,#{task_no},#{status})
</insert>
<select id="taskLog" resultType="log" parameterType="int">
SELECT pm.name, pt.task_name, pt.task_no, pl.regdte
FROM PMS_MEMBER pm, PROJECT_TASK pt, PROJECT_LOG pl
WHERE pm.pno = pl.PNO
AND pt.TASK_NO = pl.TASK_NO 
AND pt.PROJECT_NO = #{no}
AND pl.status = 't'
</select>
<select id="reqLog" resultType="log" parameterType="int">
SELECT pm.name, pt.task_name, pt.task_no, pl.regdte
FROM PMS_MEMBER pm, PROJECT_TASK pt, PROJECT_LOG pl
WHERE pm.pno = pl.PNO
AND pt.TASK_NO = pl.TASK_NO 
AND pt.PROJECT_NO = #{no}
AND pl.status = 'r'
</select>
<select id="projLog" resultType="log" parameterType="int">
SELECT DISTINCT pm.name, pp.PROJECT_NO , pp.PROJECT_NAME , pl.regdte
FROM PMS_MEMBER pm, PMS_PROJECT pp , PROJECT_LOG pl
WHERE pm.pno = pl.PNO
AND pp.PROJECT_NO = pl.PROJECT_NO 
AND pp.PROJECT_NO = #{no}
AND pl.status = 'p'
</select>
</mapper>
