<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
   PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >   
   
<mapper namespace="pms.dao.ProjectDao">
	<select id="totCnt" resultType="int" parameterType="pms_projectSch">
		select count(*)
		from pms_project
		where project_name like '%'||#{project_name}||'%'
	</select>
	<resultMap type="pms_project" id="pms_projectMap"/>
	<select id="pms_projectList" resultMap="pms_projectMap" parameterType="pms_projectSch">
		SELECT *
		FROM (
			select rownum cnt, a.*
			from pms_project a
			where project_name like '%'||#{project_name}||'%'
			and project_status IN '진행'
			order by project_no
		)
	</select>
	
	<select id="pms_projectList2" resultMap="pms_projectMap" parameterType="pms_projectSch">
		SELECT *
		FROM (
			select rownum cnt, a.*
			from pms_project a
			where project_name like '%'||#{project_name}||'%'
			and project_status IN '완료'
			order by project_no
		)
	</select>
	
	
	
	
	<!-- public ArrayList<pms_project> projectList(int pno) --><!-- 내가속한프로젝트리스트 -->
	<select id="projectList" resultType="pms_project" parameterType="int">
		SELECT c.*
		FROM PMS_MEMBER a, PMS_MEMBER_PROJECT b, PMS_PROJECT c
		WHERE a.PNO = #{pno}
			AND a.PNO = b.PNO
			AND b.PROJECT_NO = c.PROJECT_NO
			AND c.PROJECT_STATUS NOT IN '완료'
	</select>
	
	<!-- public ArrayList<pms_project> projectList(int pno) --><!-- 내가속한프로젝트리스트(완료) -->
	<select id="projectList2" resultType="pms_project" parameterType="int">
		SELECT c.*
		FROM PMS_MEMBER a, PMS_MEMBER_PROJECT b, PMS_PROJECT c
		WHERE a.PNO = #{pno}
			AND a.PNO = b.PNO
			AND b.PROJECT_NO = c.PROJECT_NO
			AND c.PROJECT_STATUS NOT IN '진행'
	</select>
	
	
	
	<!-- 
	select *
	from PMS_PROJECT
	where PROJECT_NO = #{no}
	-->
	<!-- public pms_project getProject(int no); --><!-- 프로젝트번호로 프로젝트 상세정보 출력 -->
	<select id="getProject" resultType="pms_project" parameterType="int">
		select *
		from PMS_PROJECT
		where PROJECT_NO = #{no}
	</select>
	<!-- public void insertProject(pms_project insert) --><!-- 프로젝트 생성 -->
	<insert id="insertProject" parameterType="pms_project">
		INSERT INTO PMS_PROJECT
		VALUES (project_no_seq.nextval, #{project_name}, 
				#{project_content}, #{start1}, #{end1}, 
				#{pm_pno}, #{project_status})
	</insert>
</mapper>  
 