<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
   PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
     
   <!-- public ArrayList<RiskBoard> rBoard() -->
<mapper namespace="pms.dao.RiskDao">
	<resultMap type="riskboard" id="riskMap"/>
	<select id="rBoard" resultMap="riskMap">
		select * from riskboard
	</select>
</mapper>  
 