<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
   PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
     
   <!-- public ArrayList<RiskBoard> rBoard()  #{project_no}-->
<mapper namespace="pms.dao.RiskDao">
	<resultMap type="riskboard" id="riskMap"/>
	<select id="rBoard" resultMap="riskMap" parameterType="int">

 		select rownum rnum, level, a.*
 		from RISKBOARD a
 		where risk_status='승인'
 		and PROJECT_NO = #{project_no}
		start with risk_parent_no=0
		connect by prior risk_no = risk_parent_no
		order siblings by risk_no DESC
	</select>
	
	<select id="rBoard_request" resultMap="riskMap" parameterType="int">
		SELECT rownum rnum, b.* from(
			SELECT * FROM RISKBOARD 
			where risk_status='미승인'
			ORDER BY risk_no desc
			) b
			WHERE PROJECT_NO = #{project_no}
	</select>
	<!-- public ArrayList<RiskBoard> rBoardAll() -->
	<select id="rBoardAll" resultMap="riskMap">
			SELECT a.* , b.project_name
		 	from(
		 		select rownum rnum, level, a.*
		 		from RISKBOARD a
		 		where risk_status='승인'
				start with risk_parent_no=0
				connect by prior risk_no = risk_parent_no
				order siblings by risk_no
			)a, pms_project b WHERE a.project_no = b.PROJECT_NO ORDER BY risk_no
	</select>
	<!-- public ArrayList<RiskBoard> rBoard_requestwk(String risk_writer) -->
	<select id="rBoard_requestwk" resultMap="riskMap" parameterType="member">
			SELECT a.* , b.project_name
		 	from(
		 		select rownum rnum, level, a.*
		 		from RISKBOARD a
		 		where risk_status='미승인'
				start with risk_parent_no=0
				connect by prior risk_no = risk_parent_no
				order siblings by risk_no
			)a, pms_project b 
			WHERE a.project_no = b.PROJECT_NO 
			AND RISK_WRITER =#{risk_writer}
			ORDER BY risk_no
	</select>
	
	<!-- public void insertBoard(RiskBoard insert); -->
	<insert id="insertBoard" parameterType="riskboard">
		INSERT INTO riskboard values(
			riskBoard_seq.nextval,#{project_no},#{risk_title},
			#{risk_content},#{risk_category},
			#{risk_parent_no},sysdate,#{risk_status},#{risk_writer})
	</insert>
	<select id="getBoard" resultType="riskboard" parameterType="int">
		select * 
		from riskboard 
		where risk_no = #{risk_no}
	</select>
	<select id="fileInfo" resultType="riskfile" parameterType="int">
		SELECT * FROM RISK_FILE
		WHERE rnum=#{rnum}
	</select>
	<!-- public void uptStatus (UptStatus upt_satus) -->
	<update id="uptStatus" parameterType="uptstatus">
		UPDATE RISKBOARD 
		SET RISK_STATUS = #{risk_status}
		WHERE risk_no = #{risk_no}
	</update>
<!-- 	<select id="fileInfo" resultType="riskfile" parameterType="int"> -->
<!-- 		select * -->
<!-- 		from risk_file -->
<!-- 		where fno = #{fno} -->
<!-- 	</select> -->
	
	<!-- public void insertRiskFile(RiskFile riskfile) -->
	<insert id="insertRiskFile" parameterType="riskfile">
		INSERT INTO risk_file values(riskfile_seq.nextval,#{name},riskBoard_seq.currval,
				#{filename},#{filepath},sysdate)
	</insert>
	
	<update id="updateRisk" parameterType="riskboard">
		update riskboard
			set risk_title = #{risk_title},
				risk_content = #{risk_content},
				regdte = sysdate
			where risk_no = #{risk_no}
	</update>
<!--     <update id="updateFile" parameterType="hashmap"> -->
<!--           update riskfile -->
<!--             set filename = #{filename} -->
<!--          where no = #{no} -->
<!--               and filename = #{orgFname} -->
<!--     </update> -->
	<update id="updateFile" parameterType="hashmap">
		UPDATE RISK_FILE 
			SET filename = #{filename},
				uptdte = sysdate
			WHERE fno = #{fno}
				and filename = #{orgFname}
	</update>


	<delete id="deleteRisk" parameterType="int">
		delete from riskboard
		where risk_no in(
			select risk_no
			from riskboard r
			start with risk_no=#{risk_no}
			connect by prior risk_no = risk_parent_no
		)
	</delete>
	 <delete id="deleteFile" parameterType="int">
	 	delete from risk_file
	 	where rnum=#{risk_no}
	 </delete>

</mapper>  
 