<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
   PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >  
<mapper namespace="pms.dao.TaskRequestDao">	
	<!-- public ArrayList<TaskRequest> tlist(Member member); -->
	<select resultType="taskrequest" id="tlist">
		SELECT a.*, b.project_name, c.name, 
		to_char(d.request_dte,'YYYY-MM-DD') AS request_dte
		FROM project_task a, pms_project b, pms_member c, task_request d
		WHERE a.task_no IN 
		(SELECT task_no
		FROM task_request)
		AND a.project_no=b.project_no
		AND a.pno = c.pno
		AND a.task_no = d.task_no
		and a.pno=#{pno}
	</select>
	
	<!-- pm -->
	<!-- 	public ArrayList<TaskRequest> tlistP(Member member);-->
	<select id="tlistP" parameterType="member" resultType="taskrequest">
		SELECT a.PROJECT_NO,a.project_name,a.pm_pno, 
			b.name,b.auth,c.task_no,c.task_name,d.*
		FROM PMS_PROJECT a, pms_member b,
			PROJECT_TASK c, task_request d
		WHERE a.pm_pno=b.PNO
		AND a.PROJECT_NO =c.PROJECT_NO
		AND c.task_no=d.TASK_NO
		and b.auth='pm' AND a.pm_pno=#{pno}
	</select>
	<!-- public ArrayList<TaskRequest> tlistW(Member member); -->
	<select id="tlistW" parameterType="member" resultType="taskrequest">
		SELECT a.*,b.pno,b.task_name,c.project_no,
			c.PROJECT_NAME,c.PM_PNO,d.auth,e.name
		FROM TASK_REQUEST a, project_task b,
			pms_project c, pms_member d, pms_member e
		WHERE a.task_no = b.task_no
		AND b.PROJECT_NO =c.PROJECT_NO
		AND b.PNO =d.PNO
		AND c.PM_PNO =e.PNO 
		AND d.auth='wk' AND d.pno=#{pno}
	</select>
	
	
	<!-- public void tinsert(int task_no); -->
	<insert id="tinsert" parameterType="int">
		INSERT INTO task_request values(#{task_no},to_char(sysdate,'YYYY-MM-DD'))
	</insert>	
	<!-- public void tdelete(int task_no); -->
	<delete id="tdelete" parameterType="int">
		DELETE FROM task_request WHERE task_no=#{task_no}
	</delete>
</mapper>
<!-- 
# 태스크 승인요청 페이지 프로세스
1. 먼저 task의 상태가 바뀔 때(update) 될 때, task_request 테이블에 insert 되도록 하기
	- task_request 테이블의 컬럼 : task_no, request_dte
		task_no에는 상태가 바뀐 태스크의 태스크 번호가 들어가고,
		request_dte에는 sysdate가 들어간다. (완료요청일을 출력하기 위함)
2. 조회 페이지에서 출력할 부분 (요청번호 태스크명 프로젝트명 담당자 요청일)
	- 요청번호 : {{idx+1}}을 이용하여 출력
	- 태스크명 : task_no를 이용 
	- 프로젝트명 : project_task 테이블의 project_no를 이용하여,
				pms_project 테이블에서 project_name을 받아와서 출력
	- 담당자 : project_task 테이블의 pno를 이용하여,
			 member 테이블에서 name을 받아와서 출력
	- 요청일 : task_request 테이블을 이용하여 task_no에 따른 sysdate값을 받아와 출력	
	- 검색 기능은 작성자에 한함
# 개발 
	1) 프로젝트명 받아오는 메서드
	  
 -->
 
 
 