<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
   PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="pms.dao.OverviewDao">

<!-- 	public ArrayList<Log> LogList(int no); -->
<select id="LogList" resultType="log" parameterType="int">
	SELECT t3.*, t1.name, t2.task_name
	FROM pms_member t1, project_task t2,  project_log t3
	WHERE t1.pno = t2.pno
	AND t1.pno = t3.pno
	AND t2.project_no = #{no}
	ORDER BY regdte
</select>

<!-- 	public ArrayList<Task> TaskList(int no); -->
<select id="TaskList" resultType="task" parameterType="int">
	SELECT t1.task_no, t1.task_name, t2.name, t1.enddte, t1.task_priority, t3.PROJECT_NAME 
	FROM pms_member t2, project_task t1, PMS_PROJECT t3
	WHERE t1.pno = t2.pno
	and t1.task_parent_no = 1
	AND t1.TASK_STATUS NOT IN  ('완료')
	AND t1.PROJECT_NO = t3.PROJECT_NO 
	AND t1.project_no = #{no}
	order by t1.task_no desc
</select>

<!-- 	public ArrayList<Task> TaskList2(int no); -->
<select id="TaskList2" resultType="task" parameterType="int">
	SELECT t1.task_no, t1.task_name, t2.name, t1.enddte, t1.task_priority
	FROM pms_member t2, project_task t1
	WHERE t1.pno = t2.pno
	and t1.task_parent_no = 1
	AND t1.TASK_STATUS NOT IN  ('완료')
	AND t1.project_no = #{no}
	order by t1.enddte
</select>

<!-- 	public ArrayList<Task> TaskList2(int no); -->
<select id="doneTaskList" resultType="task" parameterType="int">
	SELECT t1.task_no, t1.task_name, t2.name, t1.enddte, t1.task_priority
	FROM pms_member t2, project_task t1
	WHERE t1.pno = t2.pno
	and t1.task_parent_no = 1
	AND t1.TASK_STATUS =  '완료'
	AND t1.project_no = #{no}	
</select>

<!-- 개발자버전 task list -->
<select id="TaskListAll" resultType="task" parameterType="int">
	SELECT t1.task_no, t1.task_name, t2.name, t1.enddte, t1.task_priority, t3.PROJECT_NAME 
	FROM pms_member t2, project_task t1, PMS_PROJECT t3
	WHERE t1.pno = t2.pno
	and t1.task_parent_no = 1
	AND t1.PROJECT_NO = t3.PROJECT_NO 
	AND t2.pno = #{pno}
</select>
<select id="TaskListAll2" resultType="task" parameterType="int">
	SELECT t1.task_no, t1.task_name, t2.name, t1.enddte, t1.task_priority, t3.PROJECT_NAME 
	FROM pms_member t2, project_task t1, PMS_PROJECT t3
	WHERE t1.pno = t2.pno
	and t1.task_parent_no = 1
	AND t1.PROJECT_NO = t3.PROJECT_NO 
	AND t2.pno = #{pno}
	order by t1.enddte
</select>
<select id="doneMyList" resultType="task" parameterType="int">
	SELECT t1.task_no, t1.task_name, t2.name, t1.enddte, t1.task_priority
	FROM pms_member t2, project_task t1
	WHERE t1.pno = t2.pno
	and t1.task_parent_no = 1
	AND t1.TASK_STATUS =  '완료'
	AND t2.pno = #{pno}
</select>
<!-- 	public ArrayList<Overview> ViewMem(int no); -->
<select id="ViewMem" resultType="view" parameterType="int">
SELECT DISTINCT t1.pno, t1.NAME, t3.project_name, t3.project_content, t3.project_no,
   (SELECT count(*)
	FROM PROJECT_TASK a, pms_project b
	WHERE t1.pno = pno AND a.PROJECT_NO = b.PROJECT_NO) AS task_tot,
	(SELECT count(*)
	FROM PROJECT_TASK a, pms_project b
	where TASK_STATUS = '완료'
	and t1.pno = pno AND a.PROJECT_NO = b.PROJECT_NO) AS task_done
	FROM pms_member t1, PROJECT_TASK t2, pms_project t3 , PMS_MEMBER_PROJECT t4
	WHERE t3.PROJECT_NO = #{no}
	AND t4.pno = t1.pno
	AND t3.PROJECT_NO = t4.PROJECT_NO 
	ORDER BY pno
</select>
<!-- 	public void mTaskInsert(Task t); // 메인태스크 추가 -->
<insert id="mTaskInsert" parameterType="task">
	INSERT INTO project_task 
	values(#{pno},#{project_no},task_no_seq.nextval,#{task_name},#{task_content},#{task_priority},1,
	#{startdte},#{enddte},'진행')
</insert>

<!-- public ArrayList<Member> taskMember(); -->
<select id="taskMember" resultType="view" parameterType="int">
	SELECT DISTINCT pm.pno, pm.name FROM PMS_MEMBER pm, PMS_MEMBER_PROJECT pmp
	WHERE pmp.project_no = #{no} and pm.pno=pmp.pno
</select>
<select id="getLog" resultType="log">
	SELECT * FROM PMS_MEMBER pm 
	join PROJECT_TASK pt 
	ON pm.PNO = pt.PNO
	JOIN PMS_MEMBER_PROJECT pmp
	ON pm.PNO = pmp.pno
</select>

<select id="chatProfile" resultType="member" parameterType="member">
SELECT pno, imgpath FROM PMS_MEMBER
	WHERE 1=1
	And pno like '%'|| #{pno} ||'%' 
</select>
</mapper>  
 